.languageButtonsContainer {
    float: right;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(21, 54, 70)
}

.languageButtonsContainer a {
    position: absolute;
    right: 10px;
    margin-top: 15px;
}

#progressBar {
    position: absolute;
    right: 10px;
    left: 0px;
    width: 100%;
    height: 3px;
}

.menu {
    width: 15%;
    float: left;
}

.container {
    width: 84%;
    float: right;
    min-height: 80%;
}

body {
    font-family: sans-serif;
    font-size: small;
    background: url("../body_bg.jpg");
    margin: 0px;
}

.dialog {
    margin: 5px;
}

.dialogMessage {
    margin: 5px;
}

.k-grid-edit {
    width: 30px !important;
    min-width: 30px !important;
}

.k-grid-delete {
    width: 30px !important;
    min-width: 30px !important;
}

tr[role="row"]:hover {
    cursor: pointer;
}

.move {
    cursor: pointer;
}

.k-button {
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 1px 1px #ddd;
    color: #333;
}

.k-button-icontext .k-image {
    vertical-align: middle;
}

.login td {
    text-align: right;
    font-weight: bold;
}

.login button {
    float: right;
    margin-top: 10px;
    width: 100px;
}

.archiveDetails td {
    text-align: right;
    margin: 5px
}

.archiveDetails button {
    margin-top: 10px;
    width: 100px;
}

.k-grid-footer {
    display: none;
}

.grid-command-iconfix {
    padding-right: 3px !important;
    overflow: visible;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#horizontalTabStrips {
    background-color: rgb(245, 245, 245);
    margin: 10px 10px 10px 10px;
}

#gridServices {
    width: 400px;
}

#liveFeedPanel {
    margin: 0px 10px 0px 0px;
}

#bannerLogo {
    margin-left: 10px;
    width: 120px;
}

#bannerTitle {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 20px;
}

#cmbRoles {
    margin: 10px 10px 10px 10px;
}

.tags {
    margin: 10px;
    padding: 10px;
    color: #333333;
}

.tagitemcls {
    width: 24px;
    margin-right: 10px;
    margin-top: -45px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 2px;
    float: right;
}

#btnSavePermission {
    margin-right: 10px;
}

#btnMenuManagementHelp {
    margin-right: 10px;
}

#settings {
    margin: 25px 10px 0px 0px;
}

#dropdownMenu {
    margin-right: 5px;
}

#btnMailTemplateManagementHelp {
    margin-left: 10px;
}

.cron .header {
    text-align: center;
}

.k-edit-field {
    padding: .4em 0 1em;
}

.well well-sm {
    margin-bottom: 10px !important;
}

.cron .k-widget{
    margin: 3 0 5 3;

}
li.k-button {
    margin: 1px 0 1px 1px !important;
}

li .a{

}
